{% extends "form_registration.html" %}
{% block abiturient %}

    {% load static %}
<div class="text align-content-lg-center" >
    <a href="https://pk.kpi.ua/">
        <div class="subheading"> <p align="center">>>>>>АКТУАЛЬНА ІНФОРМАЦІЯ НА САЙТІ ПРИЙМАЛЬНОЇ КОМІСІЇ<<<<<</p></div>

    </a>
    <div class="col-md-2 "><img src="{%static "img/ab.jpg" %}"></div>
<div align="left" class="text-wrap">Якщо Ти впевнена в собі особа, хочеш наполегливо навчатися та отримати глибокі знання в галузі новітніх електронних та телекомунікаційних технологій — ми будемо раді бачити Тебе серед студентів спеціальності “Телекомунікація та радіотехніка”, спеціалізація «Інформаційно-обчислювальні засоби радіоелектронних систем» на кафедрі конструювання електронно-обчислювальної апаратури факультету електроніки НТУУ «КПІ імені Ігоря Сікорського»!

Ти будеш вступати на освітній рівень бакалавра – це перший рівень вищої освіти. Твоє навчання в Національному технічному університеті України «Київський політехнічний інститут імені Ігоря Сікорського» буде тривати 4 роки. За результатами ти одержиш диплом про повну вищу освіту та право подовжити освіту на наступному рівні – у магістратурі.

    Ми допоможемо Тобі сформувати сучасний науковий світогляд, технічну ерудицію, логічне мислення, розвинути Твої здібності, набути впевненості у власних силах.</>


<p>Ми навчимо Тебе проектувати інформаційно- та електронно-обчислювальні засоби, “системи-на- кристалі” (SоС) на основі однокристальних CISC, RISC та ARM мікроконтролерів, цифрових сигнальних процесорів (DSP) та ПЛІС (FPGA), які є мозком сучасних електронних систем, в тому числі так званих “Embedded Systems”.

Ми навчимо Тебе програмувати на Arduino, С, С++, С#, Assembler, PHP, MySQL, Verilog та VHDL, вільно орієнтуватись в HTML і CSS.

Ти зможеш використовувати для цього пакети прикладних програм Arduino-IDE, MatLab, OrCAD, Altium Designer, Quartus II, AVR та Code Composer Studio, IAR Workbench, а також засіб програмування вимірювальних та управляючих комп’ютерних комплексів LabVIEW.

Ти зможеш пройти повний шлях створення електронного виробу від проектування схемотехнічних, алгоритмічних, програмних та конструкторських рішень до його реалізації та виробництва.
Для В цьому тобі стануть в нагоді наявні на кафедрі офіційний Центр навчання технологіям проектування ПЛІС фірми ALTERA в Україні, навчальна лабораторія фірми TEXAS INSTRUMENTS, навчально-науковий Центр “Ощадливе виробництво”, а також 6 навчальних лабораторій: цифрових технологій Digital Lab, мікропроцесорних засобів,
фізичних основ мікроелектроніки, інформаційних технологій, аналогової та цифрової електроніки й відкритої лабораторії електроніки LAMPA на її базі ти матимеш можливість застосовувати сучасну лабораторну базу у вигляді оціночних модулів Starter Kit, Evaluation Board DE2, DE5 фірми ALTERA, BeagleBoard на OMAP3, BeagleBone Black на ARM Cortex A8, плати на платформах С28х, C55х, С64х та MSP430, ASLK-PRO фірми TEXAS INSTRUMENTS, С51, AVR фірми ATMEL, STM32 фірми STMicroelectronics, Arduino Leonardo, портативні рішення для безпровідних технологій у вигляді ZigBee-модулів Tmote Sky, мікрокомп’ютери Intel Galileo та Intel Edison, телекомунікаційне обладнання Cisco.

Ти зможеш створювати бази даних, розробляти власні утиліти та програмні системи на мовах високого рівня, створювати власні веб-сторінки та сайти, організовувати різноманітні веб-сервіси. Ми навчимо Тебе проектувати, розгортати, налагоджувати й адмініструвати комп'ютерні мережі. Ти ознайомишся з технологіями WiFi, Bluetooth, Ethernet, DSL, ZigBee власноруч та зможеш кваліфіковано збудувати будь-яку мережу від домашньої до великої корпоративної.

Ти отримаєш ґрунтовну і якісну вищу освіту, яка допоможе тобі не загубитись у мінливому і швидкоплинному світі інформаційних та обчислювальних технологій!

Ти матимеш можливість отримати 100% працевлаштування та пройти стажування й навчання за програмами подвійного диплому у Франції, Німеччині, Польщі, Південній Кореї та інших країнах світу. Умова одна: необхідно знати іноземні мови.</p></div>



Адреса приймальної комісії КПІ: 03056, Київ-56, вул. Політехнічна 14, 16 корпус
Відбіркова комісія факультету електроніки знаходиться у 16-му корпусі НТУУ "КПІ", аудиторії 150 та 152
</p>
    <h6>Ваша майбутня спеціальність “Телекомунікації та радіотехніка”, спеціалізація «Інформаційно-обчислювальні засоби радіоелектронних систем»</h6>

</div>
{% endblock %}