{% extends "try.html"  %}#якшо я
цей файл пропишу во в'юхах то він буде запускатися
з якоюсь оснвою де визначено блоки які описано тут
{% block navchannia %}
<div class="subheading"> <p align="center">Дисципліни,що викладаються на кафедрі конструювання електронно-обчислювальної апаратури</p></div>
   <div class="row">
       <ul class="col-md-3">
           <p style="color: #BD5D38"> 1-3 курс</p>
  <ul class="list-group">
      <li>Обчислювальна техніка та програмування - 1</li>
       <li>Обчислювальна техніка та програмування - 2</li>
<li>Метрологічне забезпеч. радіоелектрон. апар-ри</li>
<li>Основи електродiнамики</li>
<li>Основи радiоелектронiки - 1</li>
<li>Основи радiоелектронiки - 2</li>
<li>Матеріалознавство та матеріали електронних апаратів - 1</li>
<li>Матеріалознавство та матеріали електронних апаратів - 2</li>
<li>Елементна база електронних апаратів - 1</li>
<li>Елементна база електронних апаратів - 2</li>
<li>Фiзико-теоретичнi основи конструювання в ЕА</li>
<li>Імовірнісні основи обробки даних</li>
<li>Обчислювальна техніка та програмування (додаткові розділи)</li>
<li>Обчислювальна математика</li>
<li>Аналогова та цифрова електроніка -1</li>
<li>Аналогова та цифрова електроніка - 2</li>
<li>Основи мiкроелектронiки</li>
<li>Дослідження виробн-ва електронних апаратів -1</li>
<li>Дослідження виробн-ва електронних апаратів - 2</li>
<li>Обчислювальнi та мiкропроцес.засоби в ЕА -1</li>
<li>Обчислювальнi та мiкропроцес.засоби в ЕА- 2</li>
<li>Системне програмув. та керування конструкторськ. базами даних</li>
<li>Основи конструювання електронно-обчислювальних засобів</li>
<li>Функціонально-логічне проектування</li>
<li>Алгоритми програмування для розв"язку інженерних задач</li>
<li>Теорiя прийняття та оптимізацiя проектно-конструкторських рішень</li>
<li>Виробнича практика</li>
      </ul>
        </ul>

    <ul class="col-md-3">
<p style="color: #BD5D38"> 4 курс</p>
          <ul class="list-group">
<li>Обчислювальнi та мiкропроцесорні засоби в ЕА</li>
<li>Автоматизація констр.-технологічного проектування ЕА</li>
<li>Основи технології ЕОЗ</li>
<li>Основи побудови та застосування побутової РЕА</li>
<li>Електронно-обчислювальнi пристрої та системи</li>
<li>Основи конструювання ЕОЗ</li>
<li>Переддипломна практика</li>
<li>Дипломне проектування</li>
<li>Штучний iнтелект</li>
<li>Моделювання електронних схем та систем</li>
          </ul>
</ul>
   <ul class="col-md-3">
       <p style="color: #BD5D38"> Спеціалісти</p>
<ul class="list-group">
<li>Периферійні пристрої</li>
<li>Сучаснi комп'ютерні технологiї в конструюванi ЕОЗ</li>
<li>Технології територіально-розподілених мереж</li>
<li>Основи дiлової та комп'ютерної графiки</li>
<li>Виробничi системи зi штучним iнтелектом</li>
<li>Електроно-обчислювальнi засоби для банківської дiяльностi</li>
<li>Технології та засоби керування в інформаційних мережах</li>
<li>Основи інженерної творчості</li>
<li>Експертнi системи</li>
<li>Основи побудови інформаційних мереж</li>
<li>Застосування нейромережних технологій у керуванні виробничими процесами</li>
<li>Основи інформаційного менеджменту та побудови інформаційно-аналітичних засобів інтеграції</li>
<li>Програмне забезпечення розподільних інформаційно-обчислювальних систем</li>
   </ul>
   </ul>
   <ul class="col-md-3">
      <p style="color: #BD5D38">Магістри</p>
<ul class="list-group">
<li>Креативні методи вирішення складних інженерних задач</li>
<li>Периферійні пристрої</li>
<li>Технології та засоби керування в інформаційних мережах</li>
<li>Сучаснi комп'ют.технологiї в конструюванi ЕОЗ</li>
<li>Технології територіально-розподілених мереж</li>
<li>Основи інформаційного менеджменту та побудови інформаційно-аналітичних засобів інтеграції</li>
<li>Програмне забезпечення розподільних інформ.-обчислювальних систем</li>
<li>Проектування "систем на кристалі"</li>
<li>ЕОЗ на основі цифрових сигнальних процесорів</li>
<li>Системи технічного зору</li>
<li>Сертифікація виробництва та системи керування якістю</li>
<li>Експертнi системи</li>
<li>Наукові дослідження</li>
<li>Підготовка дипломної роботи</li>
<li>Педагогічна практика</li>
<li>Основи побудови інформаційних мереж</li>
   </ul>
   </ul>
      <p> Рабочі-навчальні плани кафедри КЕОА на навчальний рік можно скачати
        <a href="/file">
                  туть
         </a>
   </p>
</div>

{% endblock %}