{% extends 'home.html' %}
{% block map %}

 <!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        {#body { margin:0; padding:10%; }#}
        #map { position:-webkit-sticky; top:0; bottom:0; width:100%}

    </style>
</head>


<body>


<div id='map'  width = "60%" style="height: 600px "></div>
<p>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYWxleDE3MDEwNCIsImEiOiJjazJxNG00a3MwYWRiM2NsNGt5b3loYTJlIn0.L05pflMRL-2VD_h1Q69oKQ';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
    center: [ 30.454310,50.447931], // starting position [lng, lat]
    zoom: 18, // starting zoom

});
</script></p>

</body>
</html>
{% endblock %}