{% extends 'personal/header.html' %}
{% block head_catedra %}
    <h1 class="mb-lg-5"><b class="display-4 text-primary"> <p class="font-weight-bold"> Кафедра Електро-Обчислювальної Апаратури</p></b></h1>

    {% endblock %}
{% block catedra %}
   <div class="text-justify" ><p>Завiдувач кафедри: Лисенко Олександр Миколайович, професор, доктор технічних наук, тел. 204-93-63.</p>
         <div class="text" > <p>Кафедру конструювання електронно-обчислювальної апаратури створено в 1985 році. Вона є підрозділом факультету електроніки Національного технічного університету України "Київський політехнічний інститут імені Ігоря Сікорського".
              Наразі колектив кафедри складає 17 науково-педагогічних працівників, серед них 2 доктори і 9 кандидатів наук.
              На кафедрі навчається близько 150 студентів – майбутніх бакалаврів та магістрів, а також здійснюється підготовка аспірантів – докторів філософії (PhD), з якими кафедра пов'язує своє майбутнє.
              Кафедра здійснює підготовку бакалаврів (3 роки 10 місяців), магістрів-професіоналів (1 рік 4 місяці), магістрів-науковців (1 рік 9 місяців), а також докторів філософії PhD (4 роки)
              за спеціальністю 172 – “Телекомунікації та радіотехніка” та спеціалізацією “Інформаційно-обчислювальні засоби радіоелектронних систем”. Форма навчання – денна (бюджет, контракт).
              Кафедра має ліцензію на набір абітурієнтів – 60 місць.</p></div>
             <p> Наукова та освітня спрямованість кафедри пов'язана з широким застосуванням новітніх комп'ютерних та цифрових технологій для проектування, моделювання, конструювання, програмування, створення і налагодження інформаційно-обчислювальних засобів радіоелектронних систем різного функціонального призначення.
              Фахівці, підготовлені кафедрою, займаються також створенням та експлуатацією баз даних, побудовою обладнання та програмних засобів комп'ютерних мереж, у тому числі безпровідних.
              Велика увага приділяється також новітнім розробкам на основі цифрової обробки сигналів та зображень, нейронних мереж та експертних систем.
              Викладачі нашої кафедри дають досконалі знання різних мов програмування таких як C++, C, Assembler, Verilog, VHDL тощо.
              Після закінчення навчання випускники стають висококваліфікованими фахівцями як у програмному, так і в апаратному забезпеченні комп'ютерів, мікроконтролерів, DSP, FPGA та радіоелектронних і телекомунікаційних систем на їх основі.
              Вже на першому курсі студенти вивчають програмування на базі курсу Гарвардського університету «Основи програмування CS50» від Prometheus.org.ua.Під час навчання студенти мають змогу розробляти та моделювати аналогові і цифрові схеми, друковані плати,
              вивчити особливості архітектур процесорів та мікроконтролерів на платформах Intel x86, AVR, STM32, ARM, MIPS, MSP430, OMAP, NIOS II, DSP С28х, C55х, С64х,
              створювати програми та драйвери для мобільних пристроїв, проектувати сучасні FPGA та ASIC мікросхеми, IoT, програмувати та налаштовувати цифрові SDR радіосистеми (Ettus B210),
              розгортати, налагоджувати та адмініструвати комп'ютерні мережі різних топологій на основі технологій WiFi, Bluetooth, Ethernet, DSL, ZigBee та телекомунікаційного обладнання Cisco.
              Для цього використовуються САПР OrCAD, Quartus Prime, Arduino-IDE, MatLab, MPLAB IDE, Altium Designer, Modelsim, IAR Worcbench, Code Composer Studio, GCC та середовище графічного програмування LabVIEW.
                 Для виконання проектів і лабораторних робіт студенти кафедри використовують сучасне контрольно-вимірювальне обладнання компаній Tektronix, Rohde & Schwarz, Keysight і Digilent.</p></div>
    <p> На базі кафедри функціонують:
    <ul class="list-group">
        <li class="list-group-item"> - Офіційний Центр навчання технологіям проектування компанії Intel FPGA (США), де студенти мають змогу отримати знання із FPGA дизайну, розробки “систем на кристалі” та ASIC мікросхем;</li>
        <li class="list-group-item">- Навчальна лабораторія компанії Texas Instruments (США), де студенти засвоюють DSP, RISC та ARM технології, а також методи аналогового дизайну;</li>
       <li class="list-group-item"> - Спільна навчально-наукова лабораторія «КПІ-GlobalLogic Ukraine”, де студенти мають можливість одержати знання та навички проектування вбудованих електронних систем (“Embedded Systems”) на базі ARM процесорів та ОС Linux;</li>
        <li class="list-group-item">- Відкрита лабораторія електроніки “Lampa” – де студенти мають змогу практикуватися з великою кількістю сучасних електронних плат та контрольно-вимірювального обладнання, реалізувати на них свої власні проекти;</li>
        <li class="list-group-item">- Навчально-наукова лабораторія мікроелектроніки, роботехніки та телекомунікацій з обладнанням на 2 млн. грн., серед якого 3D принтери, сучасні осцилографи, генератори, аналізатори спектру,
        джерела живлення, мікроконтролери, мікрокомп’ютери, мікросхеми FPGA, комплекти Ettus B210 для цифрової радіотехніки SDR та роботехнічні конструктори.
        Кафедра має зв'язки з багатьма країнами світу. Якщо студенти добре навчаються і володіють знаннями іноземних мов, то при бажанні мають змогу пройти стажування і навчання за програмами обміну та/або подвійного диплому у Франції, Німеччині, Польщі, Південній Кореї та інших країнах.
        Після закінчення навчання випускники отримують можливість 100% працевлаштування. Практично всі вони працюють за фахом на різних відомих в Україні та за кордоном підприємствах, організаціях і фірмах, зокрема, в компаніях Tesla, Veiwdle, Melexis-Ukraine, Samsung R&D Centre, Luxoft, MindSpeed, GlobalLogic Ukraine,
    VIT Company, Waves Audio, Mellanox, Sirin Software, Інком, ДП «ДККБ «Луч» тощо</li>
    </ul>
 </p>
    <p>Шановний абітурієнте!</p>
 <p>Якщо Ти впевнена в собі особа, хочеш наполегливо навчатися і отримати глибокі знання в галузі електроніки та телекомунікацій на основі зазначених вище новітніх технологій — ми будемо раді бачити Тебе серед майбутніх студентів нашої кафедри!
</p>
{% endblock %}
