<!DOCTYPE html>
<html lang="en">
<head>
<style>
    table,th,td {
        border:  1px solid black;
    }
</style>
    {% load staticfiles %}
<link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %} " rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{% static "vendor/fontawesome-free/css/all.min.css"%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{%  static "css/resume.min.css"%}" rel="stylesheet">
{% include "teachers/navbar2.html" %}
</head>
<body>
<div class="text offset-1" >
<table >
    <tr>
       <td>"№ п/п"</td>
       <td>"ПІБ"</td>
       <td>"Посада"</td>
       <td>"Час"</td>
       <td>"Аудиторія"</td>
    </tr>
    <tr>
       <td>"1"</td>
       <td>""Антонюк
Олександр Ігорович"
"</td>
       <td>"Ст. викл.
"</td>
       <td>""Середа
14:20"
"</td>
       <td>"325-12
"</td>
    </tr>
    <tr>
       <td>"2"</td>
       <td>""Бондаренко
Віктор Миколайович"
"</td>
       <td>"Доц.
"</td>
       <td>""Четвер
9:00"
"</td>
       <td>"201-12
"</td>
    </tr>
    <tr>
       <td>"3"</td>
       <td>""Бондаренко
Наталія Олександрівна"
"</td>
       <td>"Ст.викл.
"</td>
       <td>""Віторок
16:00"
"</td>
       <td>"331-12
"</td>
    </tr>
    <tr>
       <td>"4"</td>
       <td>""Бухтіяров
Юрій Вікторович"
"</td>
       <td>"Асистент
"</td>
       <td>""Вівторок
16:10"
"</td>
       <td>"331А-12
"</td>
    </tr>
    <tr>
       <td>"5"</td>
       <td>""Губар
В‘ячеслав Григорович"
"</td>
       <td>"Ст. викл.
"</td>
       <td>"Середа
16:00"</td>
       <td>331А-12
</td>
    </tr>
    <tr>
       <td>"6"</td>
       <td>""Корнєв
Володимир Павлович"
"</td>
       <td>"Доц.
"</td>
       <td>""Вівторок
14:30"
"</td>
       <td>"325-12
"</td>
    </tr>
    <tr>
       <td>"7"</td>
       <td>""Короткий
Євген Васильович"
"</td>
       <td>"Асистент
"</td>
       <td>""Понеділок
14:15"
"</td>
       <td>"325-12
"</td>
    </tr>
    <tr>
       <td>"8"</td>
       <td>""Кучернюк
Павел Валентинович"
"</td>
       <td>"Доц.
"</td>
       <td>""Середа
14:15"
"</td>
       <td>"331Б-12
"</td>
    </tr>
    <tr>
       <td>"9"</td>
       <td>""Лебедев
Денис Юрійович"
"</td>
       <td>"Ст.викл.
"</td>
       <td>""Середа
12:00"
"</td>
       <td>"325-12
"</td>
    </tr>
    <tr>
       <td>"10"</td>
       <td>"Лєскін
Володимир Фатійович"
</td>
       <td>"Доц.
"</td>
       <td>""Четвер
16:00"
"</td>
       <td>"325-12
"</td>
    </tr>
    <tr>
       <td>"11"</td>
       <td>""Лисенко
Олександр Іванович"
"</td>
       <td>"Ст. викл.
"</td>
       <td>""Вівторок
14:00"
"</td>
       <td>"339-12
"</td>
    </tr>
    <tr>
       <td>"12"</td>
       <td>""Лисенко
Олександр Миколайович"
"</td>
       <td>"Професор
"</td>
       <td>""Середа
14:00"
"</td>
       <td>"202-12
"</td>
    </tr>
    <tr>
       <td>"13"</td>
       <td>""Мірошніченко
Анатолій Петрович"
"</td>
       <td>"Доц.
"</td>
       <td>""Понеділок
14:00"
"</td>
       <td>"329-12
"</td>
    </tr>
    <tr>
       <td>"14"</td>
       <td>""Павлов
Леонід Миколайович"
"</td>
       <td>"Доц.
"</td>
       <td>""Четвер
12:00"
"</td>
       <td>"325-12
"</td>
    </tr>
    <tr>
       <td>"15"</td>
       <td>""Романов
Олександр Юрійович"
"</td>
       <td>"Ас.
"</td>
       <td>"Середа
16:00"</td>
       <td>331Б-12
</td>
    </tr>
    <tr>
       <td>"16"</td>
       <td>""Редько
Ігор Володимирович"
"</td>
       <td>"Професор
"</td>
       <td>""Понеділок
12:00"
"</td>
       <td>"201-12
"</td>
    </tr>
    <tr>
       <td>"17"</td>
       <td>""Терешин
Михайло Олексійович"
"</td>
       <td>"Доц.
"</td>
       <td>""Середа
15:00"
"</td>
       <td>"325-12
"</td>
    </tr>
    <tr>
       <td>"18"</td>
       <td>""Яганов
Петро Олексійович"
"</td>
       <td>"Доц.
"</td>
       <td>""Середа
16:00"
"</td>
       <td>"201-12
"</td>
    </tr>
</table>
    </div>
</body>

</html>